body {
	margin: 120px 50px 50px;
}

/*** GENERAL CLASSES ***/
.textAlign-left {
	text-align: left;
}

.textAlign-center {
	text-align: center;
}

.textAlign-right {
	text-align: right;
}

strong {
	font-weight: bold;
}
/*** GENERAL CLASSES ***/

.header {
	position: fixed;
	top: 50px;
	left: 50px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 40px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
}

.filters {
	margin: 10px 0 25px;
}

.filters th {
	font-weight: bold;
}

.filters th, .filters td {
	padding: 5px 0;
	font-size: 12px;
}

.filters td {
	padding: 5px  50px 5px 20px;
	font-size: 12px;
}

.catalog {
	width: 100%;
}

.catalog th {
	font-weight: bold;
}

.catalog th, .catalog td {
	padding: 10px 0;
	font-size: 12px;
}